@import "../variables.css";

.header {
  background-color: var(--color-primary);
  color: #fff;
  padding: 1em;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: brown;
}

.headerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
