:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #eee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

.cursor-pointer {
  cursor: pointer;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: var(--color-secondary);
  height: 100vh;
}

/* Tablet */
@media (max-width: 1024px) {
  h1 {
    font-size: 2em;
  }
}

/* Celular */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8em;
  }
}

/* Celular pequeno */
@media (max-width: 480px) {
  h1 {
    font-size: 1.3em;
  }
}
